<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<div class="wrapper">
  <nav class="navigation">
    <ul class="navigation__list">
      <li class="navigation__list_img">
        <img  src="../../assets/img/logos.png" alt="">
      </li>
      <li class="navigation__list_element_first">
        <a href="#">Markets</a>
      </li>
      <li class="navigation__list_element">
        <a class="s" href="#">Accounts</a>
      </li>
      <li class="navigation__list_element">
        <a href="#">Platforms</a>
      </li>
      <li class="navigation__list_element">
        <a href="#">About</a>
      </li>
      <li class="navigation__list_element">
      <a href="#">Information</a>
      </li>
      <li class="navigation__list_element">
        <a href="#">Tools and Education</a>
      </li>
      <li class="navigation__list_element">
        <a href="#">Blog</a>
      </li>
      <li class="navigation__list_element">
        <a href="#">Contact Us</a>
      </li>
      <li>
        <button class="logIn">  <img src="../../assets/img/userImg.png" class="logIn__img" width="24" height="24" alt="">
          <span class="logIn__text" > Log In</span> </button>
      </li>
      <li>
        <button class="singUp">Sing Up</button>
      </li>
      <li>
        <select class="languages" name="" id="">
          <option value="">EN</option>
          <option value="">RU</option>
          <option value="">UK</option>
        </select>
      </li>
    </ul>
  </nav>
</div>
