<div class="wrapper" id="press">
  <div class="press__first">
    <p class="press__first_text">
      {{pressText}}
    </p>

    <p class="press__first_date">
      {{ pressDate }}
    </p>
      <a class="link" href=""><img src="../../../assets/img/link.png" width="26" height="26" alt=""></a>
  </div>

  <div class="trying">
    <img class="hash" src="../../../assets/img/hash1.png" width="241" height="159" alt="">
  </div>

  <div class="press__second">
    <img src="../../../assets/img/{{imgName}}" alt="first_award_pgoto">
  </div>
</div>

