<div class="wrapper">
  <div class="second__img">
    <img class="second__img_element" src="../../../assets/img/soccer__img.png" alt="">
  </div>
  <div class="trying">
    <img class="hash" src="../../../assets/img/hash_2.png" width="218" height="128" alt="">
  </div>
  <div class="second__about">
    <p class="press__second_text">
      {{pressSecondText}}
    </p>

    <p class="press__second_date">
      {{ pressSecondDate }}
    </p>
    <a class="link" href=""><img src="../../../assets/img/link.png" width="26" height="26" alt=""></a>
  </div>
</div>
