.wrapper {
  max-height: 410px;
  color: white;
  margin-top: 23px;
  display: flex;
  text-align: center;
}

.press__third {
  padding-top: 65px;
  padding-bottom: 65px;
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  max-width: 764px;
  justify-content: center;
  align-items: center;
  background-color: #ddb32a;
  margin-right: 19px;
}

.press__third_text {
  max-width: 492px;
  font-size: 27px;
}

.press__third_date {
  font-size: 24px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0bb40;
  border-radius: 50px;
  width: 90px;
  height: 90px;
}


.press__third {
  padding-top: 65px;
  padding-bottom: 65px;
  display: flex;
  max-width: 764px;
  flex-basis: 50%;
  justify-content: center;
  align-items: center;
}

.press__third_ img {
  max-width: 100%;

}


.trying {
  max-width: 1472px;
  width: 100%;
  margin: 0 auto;
  margin-top: 170px;
  position: absolute;
}

.press__third_ {
  padding-top: 65px;
  padding-bottom: 65px;
  margin-left: 19px;
  display: flex;
  max-width: 764px;
  flex-basis: 50%;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #ddb32a;
}

.press__third_year {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 15px;
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 28px;
  font-weight: 400;
}

.press__third_region {
  font-family: "Roboto Light", sans-serif;
  font-weight: 200!important;
  font-size: 24px;
  line-height: 45px;
}

.press__third_region_name {
  font-family: "Roboto - Regular",sans-serif;
  font-weight: 400;
  font-size: 24px;

}

.press__third_text {
  margin: 0;
}
.press__third_second_text {
  margin: 0;
  margin-bottom: 49px;
}
