<div class="wrapper">
  <div class="press__third">
    <p class="press__third_year">2018</p>
    <p class="press__third_text">
      {{pressText}}
    </p>

    <p class="press__third_second_text">
      <span class="press__third_region"> Region:</span>
     <span class="press__third_region_name"> {{ pressRegion }}</span>
    </p>
    <a class="link" href=""><img src="../../../assets/img/link.png" width="26" height="26" alt=""></a>
  </div>
  <div class="trying">
    <img class="hash" src="../../assets/img/hash_4.png" width="176" height="97" alt="">
  </div>
  <div class="press__third_">
    <img src="../../../assets/img/{{imgName}}" alt="first_award_pgoto">
  </div>
</div>

